<div class="panel panel-default">
    <div class="panel-body">

        <div class="jumbotron">
            <div class="container">
              <h1>Hello, world!</h1>
              <p>If you see this, it's a proof that everything works well!</p>
              <p>Enjoy!</p>
              <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    
</script>