<div class="panel panel-default">
    <div class="panel-heading">
        Wewnętrzny błąd
    </div>
    <div class="panel-body">
        Serwer napotkał błąd o następującej treści:<br/>
        <?=$message?>
    </div>
</div>